.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex-flow: column;
    height: 100vh;
    flex: 1;
    flex-basis: auto;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    z-index: 10;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    box-shadow: 0 4px 4px -1px rgba(0,0,0,0.25);
    justify-content: flex-end;
    height: 3.5rem;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    flex: 0 1 auto; /* -grow:0 -shrink:1 -basis:auto */
}

.main .content {
    height: calc(100vh - 3.5rem - 4px);
    overflow-y: auto;
    z-index: 0;
}

.footer-row {
    height: 3.5rem;

    /* border: 1px solid #ccc; */
    box-shadow: 0 -5px 5px 0 #333;
    align-self: flex-end;
    margin-top: 5px;
    z-index: 5;
    opacity: 1.0;
}

.top {
				box-shadow: 0 -5px 5px -5px #333;
			}
			
			.right {
				box-shadow: 5px 0 5px -5px #333;
			}
			
			.bottom-shadow {
				box-shadow: 0 5px 5px -5px #333;
			}
			
			.left {
				box-shadow: -5px 0 5px -5px #333;
			}
			
			.all {
				box-shadow: 0 0 5px #333;
			}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 767.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main {
        width: calc(100vw - 250px)
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
